/*
body{
	counter-reset: section;
}


h1{
	color: red;
}

.hover{
	width: 100px;
	height: 100px;
	background: blue;
	transition: .3s;
}

.hover:hover{
	border-radius: 50%;
	cursor: pointer;
	background: red;
}

.focus > input:focus{
	background: lightblue;
	color: red;
}

.child > ul li:first-child{
	background: red !important;
}
.child > ul li:last-child{
	background: green !important;
}

.child > ul li:nth-child(odd){
	background: yellow;
}
.child > ul li:nth-child(even){
	background: blue;
}
.child > ul li::before{
	counter-increment: section;
	content: "🥲 " counter(section) ": ";
}
.child > ul li::after{
	content: "🫵";
}*/

ul{
	width: 500px;
}

ul li{
	padding: 20px 20px;
	background: blue;
	color: white;
	border-radius: 6px;
	margin: 20px 10px;
	position: relative;
}

ul li::after{
	content: '10';
	position: absolute;
	right: -20px;
	top: -20px;
	height: 40px;
	width: 40px;
	text-align: center;
	background: red;
	line-height: 40px;
	border-radius: 50%;

}